$selectize-arrow-width: .625rem !default;

$selectize-caret-color: $body-color !default;
$selectize-caret-margin: 0 2px 0 0 !default;

$selectize-dropdown-max-height: 14.5rem !default;

$selectize-dropdown-divider-bg-color: $dropdown-divider-bg !default;

$selectize-dropdown-item-bg-color: $dropdown-link-active-bg !default;
$selectize-dropdown-item-color: $dropdown-link-active-color !default;
$selectize-dropdown-item-color-disabled: $dropdown-link-disabled-color !default;
$selectize-dropdown-item-header-color: $dropdown-header-color !default;

$selectize-item-bg-color: $primary !default;
$selectize-item-margin: 0 3px 0 0 !default;
